<li class="list-group-item border-0" id="<%= dom_id category %>">
  <%= link_to category_path(category),
      data: { turbo_frame: :show_category },
      class: "list-group-item-action d-flex pb-3 pt-3 px-2 align-items-center" do %>
    <%= bootstrap_icon "heart-pulse-fill", width: "30px", height: "30px" %>
    <h5 class="ms-2"><%= category.name %></h5>
  <%end%>
</li>